@import "@/styles/sass/grid.scss";

.notFound {
  display: block;
  padding: 100px 20px 0;
  user-select: none;
  pointer-events: none;
  img {
    margin: auto;
    max-width: 100%;
    height: auto;
    display: block;
  }
}

@include mq(tablet) {
  .notFound {
    padding-top: 40px;
  }
}